
/* Globals */

html {
    position: relative;
    min-height: 100%;
}

@font-face {
    font-family: freeroad;
    src: url(app://opencontent/res/fonts/Freeroad-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: freeroad;
    src: url(app://opencontent/res/fonts/Freeroad-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: freeroad;
    src: url(app://opencontent/res/fonts/Freeroad-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: freeroad;
    src: url(app://opencontent/res/fonts/Freeroad-Bold-Italic.ttf);
    font-weight: bold;
    font-style: italic;
}

body {
    margin-bottom: 80px;
    font-family: freeroad;
    font-style: normal;
    color: #555;
}

#content{
    min-height: 800px;
}

a{
    cursor: pointer;
}

.cursor-pointer{
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
  display: none;
}

.sync-message{
    left: 35px;
    right: 35px;
    background-color: #f5f5f5;
    border-radius: 4px;
    position: absolute;
}

/* Loading message */

.loading-message{
    padding-top: 300px;
    font-size: 44px;
    line-height: 50px;
    width: 100%;
    text-align: center;
}

.small-o{
    font-size: 0.6em;
    vertical-align: middle;
    line-height: 50px;
}

.big-o{
    vertical-align: text-bottom;
    line-height: 55px;
}

/* alerts */

#alerts{
    text-align: center;
    width: 100%;
    position: absolute;
    padding-top: 10px;
    z-index: 1000;
}
.alert{
  margin: auto;
  clear: both;
  width: 500px;
  margin-top: 4px;
}

/* Nav */

.app-nav {
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
    height: 40px;
    max-height: 40px;
}
.account-navbar{
    padding-left: 5px;
    padding-right: 5px;
}
.navbar{
    margin-bottom: 0px;
}
.app-nav-item {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #cdddeb;
}
.app-nav-item:hover,
.app-nav-item:focus {
    color: #fff;
    text-decoration: none;
}
.accountSelector{
    max-width: 100px;
}

/* Nav */

.app-nav .active {
    color: #fff;
}
.app-nav .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
}

/* Main column */

.app-main {
    max-width: 980px;
  font-size: 18px;
  line-height: 1.5;
  padding: 0px 10px;
}
.small-image{
  width: 120px;
  height: 120px;
  background-size:cover;
  background-position:50% 50%;
  border-radius: 3px;
  margin-right: 10px;
  background-color: gray;
}
.box {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.box-title{
    margin-top: 8px;
    margin-bottom: 8px;
}
.input-edit{
    width: 230px !important;
}
.form-inline .form-control{
    width: 230px;
}

/* Sidebar module */

.sidebar-module {
    padding: 10px;
    float: right;
    width: 160px;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.sidebar-module-noSync{
    padding: 10px;
    float: right;
    width: 160px;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.sidebar-module h3 {
    margin-top: 0px;
}
.sidebar-module p:last-child,
.sidebar-module ul:last-child,
.sidebar-module ol:last-child {
    margin-bottom: 0;
}
.signup-link{
    margin-top: 10px;
}

/* Pagination */

.pager {
    margin-bottom: 60px;
}
.pager > li > a {
    padding: 10px 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
    text-align: center;
    border-radius: 30px;
}

/* Posts */

.post {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.post-title {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 40px;
}
.post-meta {
    margin-bottom: 10px;
    color: #999;
}

/* Mine */

.peerID{
    background-color: white;
}

/* Post view */

#commentText{
    resize : none;
    height: 50px;
    width: :100%;
}

/* New Post */

#contentPost{
    resize : none;
    height: 120px;
    width: :100%;
}

/* Footer */

.footer {
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    position: absolute;
    bottom: 0;
    padding-top: 20px;
    width: 100%;
    height: 80px;
}

/* Useful clases */

.button-margin-sides{
    margin-left: 5px;
    margin-right: 5px;
}
.margin-top-form{
    margin-top: 10px;
}

.total-width{
    width: 100%;
}

.no-margin-top{
    margin-top: 0px;
}

.modal-footer{
    text-align: center !important;
}
.number-input{
    width: 60px !important;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.form-inline .form-group {
  margin-bottom: 15px;
}

.btn-input-right{
    border-bottom-right-radius: 3px !important;
    border-top-right-radius: 3px !important;
}
.btn-input-left{
    border-bottom-left-radius: 3px !important;
    border-top-left-radius: 3px !important;
}
.green{
    color : green;
}

.black{
    color : black;
}
