<div ng-controller="myBoardsCtrl" ng-if="isSync" class="box">
    <div ng-show="!viewForm">
        <h3 class="box-title">My Boards <button class="btn btn-sm btn-default pull-right" ng-click="viewForm = true"><span class="fa fa-plus"></span> Board</button></h3>
        <table class="table">
            <thead>
                <tr> <th>#</th> <th>Name</th> <th>Address</th> <th>Posts</th> <th>Users</th> <th>Actions</th> </tr>
            </thead>
            <tbody>
                <tr ng-repeat="t in account.boards track by $index">
                    <th scope="row">{{$index}}</th>
                    <td>{{t.name}}</td>
                    <td class="address-colum"><small>{{t.address}}</small></td>
                    <td>{{t.posts}}</td>
                    <td>{{t.users}}</td>
                    <td>
                        <span ng-show="!$last" class="fa fa-arrow-down cursor-pointer"> </span>
                        <span ng-show="!$first" class="fa fa-arrow-up cursor-pointer"> </span>
                        <span ng-click="openPosts(t.address, 0)" class="fa fa-external-link cursor-pointer"> </span>
                        <span ng-click="removeBoard(t.address)" class="fa fa-times cursor-pointer"> </span>
                        <span ng-show="t.owner == account.address" ng-click="deleteBoard(t.address)"class="fa fa-times-circle cursor-pointer"> </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="viewForm">
        <h3 class="box-title">Create Board<button class="btn btn-sm btn-default pull-right" ng-click="viewForm = false"><span class="fa fa-arrow-left"></span> Back</button></h3>
        <div class="form-group">
            <input type="text" class="form-control" id="boardNameInput" ng-model="this.newBoardName" placeholder="Board name">
        </div>
        <div class="row text-center">
            <button ng-click="createBoard()" class="btn btn-default">Submit</button>
        </div>
    </div>
</div>
<div class="sync-message" ng-if="!isSync">
    <h2 class="text-center"> <a ng-click="loadView('sync')">Connect</a> to navigate </h2>
</div>
