<div ng-controller="registerCtrl" ng-if="isSync" class="box">
    <h3 class="box-title">Register new user:</h3>
    <div class="form-group">
        <label for="usernameInput">Username</label>
        <input type="text" class="form-control" id="usernameInput" ng-model="this.newUser.username" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="emailInput">Email address</label>
        <input type="email" class="form-control" id="emailInput" ng-model="this.newUser.email" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="nameInput">Name</label>
        <input type="text" class="form-control" id="nameInput" ng-model="this.newUser.name" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="birthInput">Birthdate</label>
        <input type="text" class="form-control" id="birthInput" ng-model="this.newUser.birth" placeholder="Birthdate">
    </div>
    <div class="form-group">
        <label for="locationInput">Location</label>
        <input type="text" class="form-control" id="locationInput" ng-model="this.newUser.location" placeholder="Location">
    </div>
    <div class="form-group">
        <label for="imageUrl">Image Url</label>
        <input type="text" class="form-control" id="imageUrl" ng-model="this.newUser.image" placeholder="Url">
    </div>
    <div class="form-group">
        <label for="urlOneInput">Extra Url #1</label>
        <input type="text" class="form-control" id="urlOneInput" ng-model="this.newUser.url1" placeholder="Url">
    </div>
    <div class="form-group">
        <label for="urlTwoInput">Extra Url #2</label>
        <input type="text" class="form-control" id="urlTwoInput" ng-model="this.newUser.url2" placeholder="Url">
    </div>
    <div class="row text-center">
        <button ng-click="createAccount()" class="btn btn-default">Submit</button>
    </div>
</div>
<div class="sync-message" ng-if="!isSync">
    <h2 class="text-center"> <a ng-click="loadView('sync')">Connect</a> to navigate </h2>
</div>
