<div ng-controller="registerCtrl" ng-if="isSync" class="box">
    <h3 class="box-title">Register new user:</h3>
    <div class="form-group">
        <label for="usernameInput">Username</label>
        <input type="text" class="form-control" id="usernameInput" ng-model="this.newUser.username" placeholder="Username">
    </div>
    <div class="row text-center">
        <button ng-click="createAccount()" class="btn btn-default">Submit</button>
    </div>
</div>
<div class="sync-message" ng-if="!isSync">
    <h2 class="text-center"> <a ng-click="loadView('sync')">Connect</a> to navigate </h2>
</div>
