<div class="box" ng-class="{'sync-message' : !isConnected}" ng-controller="syncCtrl">
    <div ng-show="syncForm == 'connect'">
        <h3 class="box-title">Connect
            <button class="btn btn-sm btn-default pull-right" ng-click="syncForm = 'mine'"><span class="fa fa-hand-grab-o"></span> Mine</button>
            <button class="btn btn-sm btn-default pull-right" ng-click="syncForm = 'peers'"><span class="fa fa-users"></span> Peers</button>
        </h3>
        <div class="form-inline">
            <div class="form-group">
                Verbose:
                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{this.verbosityLog}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-click="this.verbosityLog = 0"><a>0</a></li>
                        <li ng-click="this.verbosityLog = 1"><a>1</a></li>
                        <li ng-click="this.verbosityLog = 2"><a>2</a></li>
                        <li ng-click="this.verbosityLog = 3"><a>3</a></li>
                        <li ng-click="this.verbosityLog = 4"><a>4</a></li>
                        <li ng-click="this.verbosityLog = 5"><a>5</a></li>
                    </ul>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="this.autoConnect"> Connect on start
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            Genesis file:
            <input type="text" class="form-control" id="genesisPath" ng-model="this.genesisPath" placeholder="Path to your genesis file">
        </div>
        <div class="form-group">
            Chain directory:
            <input type="text" class="form-control" id="chainDir" ng-model="this.chainDir" placeholder="Directory of your blockchain">
        </div>
        <div class="form-group">
            Url:
            <input type="text" class="form-control" id="connectionHost" ng-model="this.connectionHost" placeholder="Host to your provider">
        </div>
        <div class="form-group">
            Port:
            <input type="text" class="form-control" id="connectionPort" ng-model="this.connectionPort" placeholder="Port of your provider">
        </div>
        <div class="row text-center">
            <button ng-show="status=='disconnected'" ng-click="connect()" class="btn btn-default">Connect</button>
            <button ng-show="status!='disconnected'" ng-click="disconnect()" class="btn btn-default">Disconnect</button>
        </div>
    </div>
    <div ng-show="syncForm == 'mine'">
        <h3 class="box-title">Mine
            <button class="btn btn-sm btn-default pull-right" ng-click="syncForm = 'connect'"><span class="fa fa-plug"></span> Connect</button>
            <button class="btn btn-sm btn-default pull-right" ng-click="syncForm = 'peers'"><span class="fa fa-users"></span> Peers</button>
        </h3>
        <div class="form-inline">
            <div class="form-group">
                Mine Account:
                <input type="number" min="0" class="form-control number-input" id="mineAccount" ng-model="this.mineAccount">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="this.autoMine"> Auto Mine
                </label>
            </div>
        </div>
        <div class="form-group">
            Password:
            <input type="text" class="form-control" id="minePassword" ng-model="this.minePassword" placeholder="Account passowrd">
        </div>
        <div class="row text-center">
            <button ng-show="!isMining" ng-click="startMining()" class="btn btn-default">Start Mining</button>
            <button ng-show="isMining" ng-click="stopMining()" class="btn btn-default">Stop Mining</button>
        </div>
    </div>
    <div ng-show="syncForm == 'peers'">
        <h3 class="box-title">Peers
            <button class="btn btn-sm btn-default pull-right" ng-click="syncForm = 'connect'"><span class="fa fa-plug"></span> Connect</button>
            <button class="btn btn-sm btn-default pull-right" ng-click="syncForm = 'mine'"><span class="fa fa-hand-grab-o"></span> Mine</button>
        </h3>
        Your node URL: {{nodeInfo.ip}}:{{nodeInfo.ports.listener}}<br>
        Your peer ID:<br>
        <pre class="peerID">{{nodeInfo.enode}}</pre>
        <div ng-show="isMining">
            <h3>Add peer:</h3>
            <div class="form-group">
                <input type="text" class="form-control" id="peerToAdd" ng-model="this.peerToAdd" placeholder="Peer ID">
            </div>
            <div class="row text-center">
                <button  ng-click="addPeer()" class="btn btn-default">Add</button>
            </div>
        </div>
    </div>
</div>
